* {
    margin: 0;
    font-family: aaroncito, Verdana;
    font-size: 25px;
}

@font-face {
    font-family: aaroncito;
    src: url(Bullate\ Regular.ttf);
}

.container {
    position: relative; /* necesario para el botón 'no' */
    overflow: hidden;   /* evita que se salga de la pantalla */
    background: pink;
    width: 100vw;
    height: 100vh;
}

p {
    text-align: center;
}

span {
    font-size: 60px;
    padding: 0;
}

.centrador {
    text-align: center;
}

.dog {
    width: 120px;
    height: 120px;
    display: inline-block;
}

button {
    font-size: 50px;
    margin-top: 25px;
}

#yesBtn {
    width: 300px;
    height: 100px;   
    background-color: #00FFFF;
    border: solid 2px white;
}

#noBtn {
    position: absolute;
    background-color: #A18262;
    border: solid 2px white;
}

/* Colores de las letras */
.amarillo { color: yellow; }
.rosa { color: #ad4f8b; }
.naranja { color: #cc7134; }
.azul { color: #572364; }
.verde { color: #2d572c; }

/* Nombre de la persona */
.nombre {   
    -webkit-text-fill-color: red;
    -webkit-text-stroke: 2px black;
}

/* Ajustes para móviles */
@media screen and (max-width: 600px) {
    span { font-size: 40px; }
    button { font-size: 35px; width: 200px; height: 80px; }
    .dog { width: 80px; height: 80px; }
}


